<div class="panel panel-info">
<div class="panel-heading">Please upload funny images to make kids laugh</div>
<div class="panel-body">
<form action="https://elasticbeanstalk-us-west-2-780260980507.s3-website-us-west-2.amazonaws.com/" method="post" enctype="multipart/form-data">
      <input type="hidden" name="key" value="uploads/${filename}">
      <input type="hidden" name="AWSAccessKeyId" value="AKIAIPSTFLNA27I73CWQ"> 
      <input type="hidden" name="acl" value="private"> 
     <!-- <input type="hidden" name="success_action_redirect" value="http://localhost/">  -->
      <input type="hidden" name="policy" value="AmazonS3FullAccess-aws-elasticbeanstalk-ec2-role-201410232311">
      <input type="hidden" name="signature" value="YOUR_CALCULATED_SIGNATURE"> 
      <input type="hidden" name="Content-Type" value="image/jpeg">
      <!-- Include any additional input fields here -->

      File to upload to S3: 
      <input name="file" type="file"> 
      <br> 
      <input type="submit" value="Upload File to S3"> 
    </form> 
</div>
</div>