
<div class="panel panel-info">
<div class="panel-heading">Please submit your Joke for kids</div>
<div class="panel-body">
<form ng-submit="submit()" class="form-horizontal" role="form">
  <div class="form-group">
    <label for="userEmail" class="col-md-2 control-label">Email</label>
    <div class="col-md-10">
      <input type="email" class="form-control" id="userEmail" placeholder="Email" ng-model = "user_email">
    </div>
  </div>
  <div class="form-group">
    <label for="jokeCategory" class="col-md-2 control-label">Jokes Category</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="jokeCategory" placeholder="Enter Joke category" ng-model="joke_category">
    </div>
  </div>
 <div class="form-group">
  <label class="col-md-2 control-label" for="jokeDescription">Enter Joke</label>
  <div class="col-md-10">
    <textarea rows="10" class="form-control" id="jokeDescription" cols="5" ng-model="jokeDescription" required></textarea>
  </div>
 </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="col-md-2 btn btn-success">Submit Joke</button>
    </div>
  </div>
  <div class="form-group">
  <div class="col-md-offset-2 col-md-10">
    <label> Please note:</label> Your submitted jokes will be posted after being reviewed.</label>
  </div>
  </div>
</form>
</div>
</div>