<!DOCTYPE html>
<html ng-app="homeModule">
<head>
<meta name="google-site-verification" content="ipoTZCeJ7MOfvviFdUEBkrRaqYCzBVBbPBXOGP6NEpw" />
<meta name="viewport" content="width=device-width, user-scalable=no"/>
<meta name="description" content="jokes for kids"/>
<meta name="keywords" content="jokes,joke,funny,kids,kid,clean jokes,kids jokes,clean jokes for kids,jokes for kids,deepak khetwal"/>
    <title>jokes,clean jokes,kids jokes,clean jokes for kids,jokes for kids</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="global.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="static/javascripts/vendor/angular.js"></script>
    <script src="static/javascripts/vendor/angular-resource.js"></script>
    <script src="static/javascripts/vendor/angular-route.js"></script>
    <script src="static/javascripts/vendor/angular-cookies.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="controllers/jokes-main-controllers.js"></script>
    <script src="services/jokes-main-service.js"></script>
    
    <script src="controllers/admn/review-controllers.js"></script>
    <script src="services/admn/review-service.js"></script>

    <script src="controllers/feedbacks-main-controllers.js"></script>
    <script src="services/feedbacks-main-service.js"></script>
    <script src="controllers/admn/video-review-controllers.js"></script>
    <script src="services/admn/video-review-service.js"></script>
    <script src="modules/home-module.js"></script>
    <script src="static/javascripts/application/common.js"></script>
    <script src="controllers/jokes-most-liked-controller.js"></script>
  

</head>
<body>
    <div class="container">

        <div class="row">
            
              <h3 class="col-md-9 text-left">
                    <span  style="color:#eb1515; font-style:italic">K</span><span word-spacing:-0.5ex; style="color:#18eb15">i</span><span style="color:#921380">d</span><span  style="color:#1c1392">s</span><span  style="color:#b6bd14 ;font-style:italic">L</span><span  style="color:#eb1515">a</span><span  style="color:#18eb15">u</span><span  style="color:#921380">g</span><span  style="color:#1c1392">h</span><span  style="color:#eb1515">s!!!</span>
                      </h3>
            
            <div class = "col-md-3 text-right"><a id="lnkHome" href="#/">Home</a>  | <a href="#/contact">Contact us</a> | <a href="#/feedbacks/create"> Feedback</a> 
             </div>
        </div>
         <div class="row">
          <label class="col-md-12"> HAPPY NEW YEAR 2015
        </div>
        <div class="alert alert-success hidden" id="globalMessageParent">
          <button type="button" class="close" onclick="COMMON.closeGlobalMessageAlert()"><span>&times;</span><span class="sr-only">Close</span></button>
          <span id="globalMessage"></span>
        </div>
       
        <div class="row">
          <div class="col-md-12">
          December Best Joke Winner - <b>Pratham Chhabra </b> Congratulations!
          </div>
        </div>

        <div class="row">  
          <div class="col-md-12">
                <a class="btn btn-primary" href="#/jokes/create">Submit Joke</a>
                <a class="btn btn-warning" href="#/jokes/videolist">Watch Videos </a>
                <a class="btn btn-info" href="#/jokes/upload/">Upload Video </a>
                <a class="btn btn-warning" href="#/">Jokes </a>
                <a class="btn btn-primary" href="#/jokes/mostliked"> Most Liked Jokes </a>
          </div> 
        </div>
        <div class="row"> &nbsp; </div>
         <div class="row" ng-view>
             
         </div>
         
       </div> 
</body>

</html>