


 <div class="row"> &nbsp; </div>

<div class="panel panel-default">
<div class="panel-heading">
		Contact us
</div>
	<div class="panel-body">
		<div class="row">
			<label>Email:</label> <i>deepakkhetwal23@gmail.com</i>
		</div>
		<div class="row">
			<label>PH#:</label> <i>(+1)8609929980 </i>
		</div>

	</div>
 </div>

 <div class="panel panel-default">
<div class="panel-heading">
		feedback
</div>
	
		<div class="panel-heading">Please submit your feedback. Your feedback is important to us.</div>
 
      <div class="panel-body">
<form ng-submit>
<div class-"form-group">
 <label for="firstname" class="col-md-2 control-label">FirstName:</label>
    <div class="col-md-2">
      <input type="text" class="form-control" id="firstname" placeholder="firstname" >
    </div>
    </div>

<div class-"form-group">

<label for="lastname" class="col-md-2 control-label" >lastName:</label>

<input type="text" class="form-control" id="lastname" placeholder="lastname">
</div>

 <div class="form-group">
  <label class="col-md-2 control-label" for="feedbackDescription" >Enter Feedback</label>
  <div class="col-md-10">
    <textarea rows="10" class="form-control" id="feedbackDescription" cols="5" ng-model="description" required></textarea>
  </div>
 </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="col-md-2 btn btn-success" value="submit" onclick="val();">Submit Your Feedback</button>
    </div>
  </div>





       













 