	<div class="table-responsive">
            <table class="table table-striped table-condensed">
                <thead class="btn-success">
                    <tr>
                    <th class="hidden">id</th>
                    <th><a href="" ng-click="predicate='is_reviewed'; reverse=!reverse">Reviewed Y/N</a></th>
                    <th >Description </th>
                    <th><a href="" ng-click="predicate='user_email'; reverse=!reverse">User Email</a></th>
                    <th><a href="" ng-click="predicate='joke_category'; reverse=!reverse">Joke Category</a></th>
                    <th><a href="" ng-click="predicate='date_created'; reverse=!reverse">Created Date</a></th>
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="joke in jokesList.jokes | orderBy:predicate:reverse">
                        <td class="hidden" ng-model="joke._id"></td>
                        <td><input type="checkbox" ng-model="joke.is_reviewed"></td>
                        <td><textarea ng-model="joke.description"></textarea></td>
                        <td><input type="text" ng-model="joke.user_email"></td>
                        <td><input type="text" ng-model="joke.joke_category"></td>
                        <td>{{joke.date_created |  date: "MM/dd/yyyy"}}</td>
                        <td><button class="btn btn-primary" ng-click="SaveReview(joke._id)"><span class="glyphicon glyphicon-floppy-disk"></span></button> <button class="btn-success"><span class="glyphicon glyphicon-remove"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>